:root {
    --light-purple: #BD9DEA;
    --purple: #7A77B9;
    --red: #EA7186;
    --yellow: #FEC762;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* main ------------------------------------------- */
.main__1 {
    position: relative;
    overflow-x: hidden;
    top: 49px;
    max-width: 1680px;
    width: 100%;
    height: 960px;
    padding: 80px 84px;
}

.title__img__1 {
    position: relative;
    width: 991px;
}

.title__1 {
    right: calc(9%);
    top: 20%;
}

.title__2 {
    right: 5%;
    top: calc(20% + 78px);
}

.title__1, .title__2 {
    position: absolute;
    font-size: 56px;
    font-weight: 200;
    color: white;
    background-color: var(--yellow);
    padding: 0px 42px;
    width: fit-content;
}

.main__2 {
    position: relative;
    display: grid;
    max-width: 1680px;
    width: 100%;
    grid-template-rows: 170px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    padding: 80px 84px;
    gap: 30px 148px;
}

.item {
    width: 100%;
}

.item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.item:nth-child(1) h2 {
    font-size: 48px;
    font-weight: 300;
    line-height: 72px;
    padding: 12px 0px;
    color: black;
}

.item h2 {
    font-size: 24px;
    padding: 12px 0px;
}

.item.item:nth-child(2) h2 {
    color: var(--yellow);
}

.item.item:nth-child(3) h2 {
    color: var(--red);
}

.item.item:nth-child(4) h2 {
    color: var(--purple);
}

.item.item:nth-child(5) h2 {
    color: var(--light-purple);
}

.item div {
    padding: 12px 0px;
    line-height: 30px;
    font-weight: 300;
}

/* main ------------------------------------------- */
@media screen and (max-width: 1680px) {
    .main__1, .main__2 {
        padding: 80px 5%;
    }
    .main__2 {
        gap: 1.8% 5%;
    }
}

@media screen and (max-width: 1366px) {
    .main__1 {
        height: 780px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .title__img__1 {
        width: 780px;
    }
    
    .title__1, .title__2 {
        font-size: 44px;
    }
    
    .title__1 {
        top: 25%;
    }

    .title__2 {
        top: calc(25% + 64px);
    }
}

@media screen and (max-width: 1000px) {
    .main__2 {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 30px 0px;
    }

    .item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

@media screen and (max-width: 679px) {
    .title__1 {
        right: calc((100% - 486px) / 2);
    }

    .title__2 {
        right: calc((100% - 501px) / 2);
    }
}

@media screen and (max-width: 550px) {
    .title__1, .title__2 {
        font-size: 25px;
        padding: 0px 18px;
    }

    .title__1 {
        right: calc((100% - 264px) / 2);
        top: 28%;
    }

    .title__2 {
        right: calc((100% - 273px) / 2);
        top: calc(28% + 38px);
    }
}