:root {
  --light-purple: #BD9DEA;
  --purple: #7A77B9;
  --red: #EA7186;
  --yellow: #FEC762;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* header ------------------------------------------- */

header {
  position: fixed;
  z-index: 99;
  max-width: 1680px;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.801);
  width: 100%;
  /* height: 60px; */
  padding: 10px 5%;
}

.nav__logo a {
  margin: 0px 12px;
}

.nav__logo i, .nav__logo a {
  font-size: 25px;
  font-weight: 400;
  color: var(--purple);
}

.nav__menu {
  display: flex;
  list-style: none;
  font-weight: 300;
}

.nav__menu li {
  padding: 4px 12px;
}

.nav__menu li a {
  color: var(--light-purple);
  font-size: 15px;
}

.nav__menu li:hover {
  background-color: #e0d4f39f;
  color: white;
  border-radius: 4px;
}

.nav__toggle {
  position: absolute;
  display: none;
  right: 5%;
  font-size: 25px;
  color: var(--light-purple);
}
/* header ------------------------------------------- */

/* footer ------------------------------------------- */
footer {
  position: relative;
  width: 100%;
  max-width: 1680px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 14px 5%;
  bottom: 0px;
}

.footer__logo a, .footer__logo i {
  font-size: 25px;
  font-weight: 400;
  color: var(--purple);
}

.footer__logo a {
  margin: 0px 12px;
}

.footer__list {
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer__content__title {
  font-size: 15px;
  font-weight: 400;
  padding: 4px 0px;
}

.footer__content {
  height: 48px;
  font-size: 15px;
  font-weight: 200;
  color: black;
  padding: 4px 0px;
}

.footer__content a {
  color: black;
}

.footer__sns {
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 48px;
  padding: 4px 0px;
}

.footer__sns a i {
  font-size: 18px;
  color: black;
}

.footer__text {
  font-size: 15px;
  font-weight: 200;
  color: black;
}
/* footer ------------------------------------------- */

@media screen and (max-width: 679px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    /* height: 60px; */
    padding: 10px 20px;
  }

  .nav__menu {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .nav__menu.active {
    display: flex;
  }

  .nav__menu li {
    width: 100%;
    text-align: center;
  }

  .nav__toggle {
    right: 20px;
    display: block;
  }

  .footer {
    flex-direction: column;
  }

  .footer section {
    margin: 4px;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
  }

  .footer__list li {
    width: 160px;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    justify-content: center;
  }
  .footer__logo {
    display: none;
  }
  .footer__text {
    display: none;
  }
}