@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.mediaViewInfo {
	--web-view-name: aboutus;
	--web-view-id: aboutus;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: aboutus;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Jeju Gothic', sans-serif;
}
body {
	background-color: rgba(235,232,231,1);
	-ms-overflow-style: none;
	height: 100%;
}
::-webkit-scrollbar {
	display: none;
}
.for_scrolling {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		/* "." */
		"bottom";
	justify-items: center;
	align-items: center;
	--web-view-name: Plan B Home;
	--web-view-id: n__3;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}

/* main_BG ******************************************************/

.main_BG_IMG {
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%,-50%) ;
	overflow: visible;
}
/* main_BG ******************************************************/



.bottom_half {
	width: 100%;
	height: 100vh;
	grid-area: bottom;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 70px 1fr 180px;
	grid-template-areas: 
	"header"
	"main"
	"footer";
	justify-items: center;
	align-items: center;
}


/* header ******************************************************/
.header {
	position: relative;
	width: 70%;
	height: 70px;
	overflow: visible;
	z-index: 99;
	grid-area: header;
}
.header_BG_rect {
	background-color: rgba(122,119,185,1);
	position: absolute;
	width: 100%;
	height: 100%;
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: 35px;
}
.header_Words {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	overflow: visible;
	padding: 0px 60px 0px 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header_BTN {
	position: relative;
	width: 700px;
	height: 17px;
	/* left: 758px; */
	/* top: 27px; */
	overflow: visible;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#header_Words {
	position: relative;
	overflow: visible;
	text-align: center;
	font-size: 0.625em;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	height: 17px;
    transition: all 0.5s;
}
#header_Words:hover {
    transform: scale(1.15);
}
.PLAN_B_Class {
	/* left: 60px; */
	/* top: 21px; */
	position: relative;
	text-align: left;
	font-weight: bold;
	color: rgba(255,255,255,1);
}
/* header ******************************************************/


/* main ********************************************************/
.main {
	position: relative;
	width: 100vw;
	height: calc(100vh - 300px);
	overflow: visible;
	grid-area: main;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .main_grid {
	position: absolute;
	width: 1322px;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%) ; 
	overflow-x: hidden;
	overflow-y: visible;
	display: grid;
	grid-template-columns: 494fr 800fr;
	grid-template-areas: "left right";
	justify-items: center;
	align-items: center;
	gap: 28px;
}
.right {
	position: relative;
	width: 800px;
	height: 712px;
	overflow: visible;
	grid-area: right;
}
.Image {
	background-color: white;
	position: relative;
	overflow: visible;
	width: 100%;
	height: 450px ;
	border-radius: 35px;
	margin-bottom: 32px;
}
.explanation {
	background-color: white;
	position: relative;
	overflow: visible;
	width: 100%;
	height: 230px;
	border-radius: 35px;
	border: 5px solid rgba(234,113,134,1);
	overflow: visible;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.ex_title {
	position: relative;
	overflow: visible;
	text-align: left;
	font-weight: bold;
	font-size: 30px;
}
.ex_ex {
	position: relative;
	overflow: visible;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
}
.ex_youtube {
	position: relative;
	width: 126px;
	height: 32px;
	overflow: visible;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Youtube_Class {
	position: relative;
	overflow: visible;
	font-weight: bold;
	font-size: 20px;
	color: rgba(234,113,134,1);
}
.globe_div {
	position: relative;
	width: 33px;
	height: 32px;
	overflow: visible;
}
.globe_svg {
	fill: rgba(234,113,134,1);
}
.globe {
	overflow: visible;
	width: 28px;
	height: 28px;
	transform: matrix(1,0,0,1,0,0);
} */
.left {
	position: relative;
	width: 1000px;
	height: 100%;
	border-radius: 25px;
	border: 8px solid;
	border-color: #fec762;
	overflow: visible;
	/* grid-area: left; */
	overflow: scroll;
}
.left_grid {
	position: absolute;
	width: 100%;
	height: auto;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(auto-fill, minmax(209px, auto));
	grid-template-rows: repeat(auto-fill, minmax(154px,auto));
	grid-auto-flow: dense;
	row-gap: 20px;
}
#left_grid_no {
	position: relative;
	width: 209px;
	height: 154px;
	overflow: hidden;
	transition: all 0.3s;
}
#left_grid_no:hover {
	transform: scale(1.1);
}

.left_img {
	background-color: rgb(88,88,88);
	border-radius: 10px;
	width: 100%;
	height: 75%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.left_img img {
	width: 100%;
	object-fit: cover;
}
.left_title {
	background-color: white;
	position: relative;
	overflow: visible;
	width: 100%;
	height: 25%;
	border-radius: 10px;
	line-height: 24px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}

/* main ********************************************************/


/* footer ******************************************************/
.footer {
	position: relative;
	width: 100%;
	height: 180px;
	overflow: visible;
	background-color: rgba(122,119,183,1);
	grid-area: footer;
}
.footer_Content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
#Content_Container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
	width: 240px;
	/* height: 55%;
	min-height: 90px; */
	overflow: visible;
	font-size: 1.5rem;
}
#Content {
	font-size: 0.625em;
	width: 100%;
	line-height: 24px;
	color: rgba(255,255,255,1);
}
.Content_Title {
	width: 100%;
	font-weight: bold;
	color: rgba(255,255,255,1);
	margin-bottom: 0.652em;
}
.SNS_logo {
	position: relative;
	width: 145px;
	height: 20px;
	overflow: visible;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.instagram_logo {
	position: relative;
	width: 20px;
	height: 20px;
	overflow: visible;
}
.youtube_logo {
	position: relative;
	width: 27.67px;
	height: 20px;
	overflow: visible;
}
.facebook_logo {
	position: relative;
	width: 20px;
	height: 20px;
	overflow: visible;
}
/* footer ******************************************************/

@media (max-height : 1000px) {
	.bottom_half {
		grid-template-rows: 70px 750px 180px;
	}
}

@media (max-width : 1400px) {
	.header {
		width: 100%
	}
	.header_BTN {
		width: 70%;
	}
	/* .bottom_half {
		grid-template-rows: 70px 1500px 180px;
	}
	.main {
		height: 1456px;
	}

	.main_grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		row-gap: 32px;
		overflow: visible;
		grid-template-areas:
			"right"
			"left";
	} */
	.left {
		width: 90%;
		overflow: scroll;
	}
	/* .left_grid {
		grid-template-columns: repeat(auto-fill, minmax(209px, auto));
	} */

}
@media (max-width : 850px) {

	/* .bottom_half {
		grid-template-rows: 70px 176vw 180px;
	} */
	.main {
		height: calc(100vh - 60px);
	}
	.main_grid {
		gap: 3.3vw;
	}
	.left_grid {
		grid-template-columns: repeat(auto-fill, minmax(24.6vw, auto));
		grid-template-rows: repeat(auto-fill, minmax(16.8vw, auto));
	}
	#left_grid_no {
		width: 24.6vw;
		height: 16.8vw;
	}
	.left_img {
		border-radius: 1.1vw;
	}
	.left_title {
		border-radius: 1.1vw;
		line-height: 2vw;
		font-size: 1vw;
	}
	/* .right {
		width: 94vw;
		height: 84vw;
	}
	.Image {
		height:  53vw;
		border-radius: 4.1vw;
		margin-bottom: 3.3vw;
	}
	.explanation {
		height: 27vw;
		padding: 0;
		border-radius: 4.1vw;
	}
	.ex_title {
		font-size: 4vw;
	}
	.ex_ex {
		font-size: 3vw;
		line-height: 2.8vw;
	} */
}




@media (max-width : 1000px) {
	.header_BTN {
		width: 100%;
	}
	.PLAN_B_Class {
		display: none;
	}
}
@media (max-width : 760px) {
	.for_scrolling {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
			"bottom";
	}
	.bottom_half {
		grid-template-rows: 40px calc(100vh - 40px) 250px;
	}
	.header {
		width: 100vw;
		height: 40px;
	}
	.header_BG_rect {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.header_Words {
		padding: 0px;
		font-size: 1.2rem;
	}
	.header_BTN {
		justify-content: space-evenly;
	}
	.PLAN_B_Class {
		display: none;
	}
	#Content_Container {
		width: 70%;
		height: 70px;
		font-size: 1.2rem;
	}
	.footer {
		height: 250px;
	}
	.footer_Content {
		flex-direction: column;
	}
	.SNS_logo {
		width: 70%;
	}
}