@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.mediaViewInfo {
	--web-view-name: aboutus;
	--web-view-id: aboutus;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: aboutus;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Jeju Gothic', sans-serif;
}
body {
	background-color: #EBE8E7;
	-ms-overflow-style: none;
	height: 100%;
}
::-webkit-scrollbar {
	display: none;
}
.for_scrolling {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		/* "." */
		"bottom";
	justify-items: center;
	align-items: center;
	--web-view-name: Plan B Home;
	--web-view-id: n__3;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}

/* main_BG ******************************************************/

.main_BG_IMG {
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%,-50%) ;
	overflow: visible;
}
/* main_BG ******************************************************/



.bottom_half {
	width: 100%;
	height: 100vh;
	grid-area: bottom;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 70px 1fr 180px;
	grid-template-areas: 
	"header"
	"main"
	"footer";
	justify-items: center;
	align-items: center;
}


/* header ******************************************************/
.header {
	position: relative;
	width: 70%;
	height: 70px;
	overflow: visible;
	z-index: 99;
	grid-area: header;
}
.header_BG_rect {
	background-color: rgba(122,119,185,1);
	position: absolute;
	width: 100%;
	height: 100%;
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: 35px;
}
.header_Words {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	overflow: visible;
	padding: 0px 60px 0px 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header_BTN {
	position: relative;
	width: 700px;
	height: 17px;
	/* left: 758px; */
	/* top: 27px; */
	overflow: visible;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#header_Words {
	position: relative;
	overflow: visible;
	text-align: center;
	font-size: 0.625em;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	height: 17px;
    transition: all 0.5s;
}
#header_Words:hover {
    transform: scale(1.15);
}
.PLAN_B_Class {
	/* left: 60px; */
	/* top: 21px; */
	position: relative;
	text-align: left;
	font-weight: bold;
	color: rgba(255,255,255,1);
}
/* header ******************************************************/


/* main ********************************************************/
.main {
	position: relative;
	width: 100vw;
	height: calc(100vh - 70px);
	overflow: visible;
	grid-area: main;
	display: flex;
	justify-content: center;
	align-items: center;
}
.board {
	position: absolute;
	width: 1251px;
	height: 85%;
	left: 50%;
	transform: translate(-50%,0%);
	display: flex;
	flex-direction: column;
}
.member_BTN {
	cursor: pointer;
	position: absolute;
	background-color: white;
	width: 194px;
	height: 48px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*
테스트
*/
.member_BTN:hover {
    transform: scale(1.05);
}

#band_member {
	left: 35px;
	border: 2px solid #ea7186;
	color: #ea7186;
}
#general_member {
	left: 229px;
	border: 0px solid #fec762;
	color: #fec762;
}
#band_explain {
	z-index: 2;
}
#general_explain {
	z-index: 1;
}
.explain {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 755px;
}
.content_BTN {
	cursor: pointer;
	width: 148px;
	height: 48px;
	position: absolute;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	transition: color 0.1s ease-in-out; /* 0.3초 느리게 천천히 진행 */
}
.content_BTN:hover {
	text-decoration: underline; /* 글씨 밑에 밑줄 그어줌*/
    color:rgb(29, 29, 29)

}
#band_feature_BTN {
	left: 35px;
	z-index: 3;
	background-color: #ea7185;
}
#band_duty_BTN {
	left: 155px;
	z-index: 2;
	background-color: #EB8898;
}
#band_right_BTN {
	left: 275px;
	z-index: 1;
	background-color: #EBA0AC;
}
#general_feature_BTN {
	left: 35px;
	z-index: 3;
	background-color: #FEC762;
}
#general_duty_BTN {
	left: 155px;
	z-index: 2;
	background-color: #FFD17D;
}
#general_right_BTN {
	left: 275px;
	z-index: 1;
	background-color: #FFDA96;
}
#band_feature_BTN:hover, #band_duty_BTN:hover, #band_right_BTN:hover {
	background-color: #e44a63;
}
#general_feature_BTN:hover, #general_duty_BTN:hover, #general_right_BTN:hover {
	background-color: #ffb52c;
}
.sect_container {
	background-color: white;
	width: 100%;
	height: calc(100% - 48px);
	position: absolute;
	bottom: 0px;
	border-radius: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
#band_feature_content {
	z-index: 4;
}
#band_duty_content {
	z-index: 3;
}
#band_right_content {
	z-index: 2;
}
#band_apply_content {
	z-index: 1;
}
#general_feature_content {
	z-index: 4;
}
#general_duty_content {
	z-index: 3;
}
#general_right_content {
	z-index: 2;
}
#general_apply_content {
	z-index: 1;
}
.sect {
	width: 1100px;
	line-height: 30px;
}
.band_sect_title {
	font-size: 20px;
	font-weight: bold;
	color: #ea7186;
}
.general_sect_title {
	font-size: 20px;
	font-weight: bold;
	color: #fec762;
}
.description {
	font-size: 18px;
}
.apply_check_BTN {
	cursor: pointer;
	background-color: #7a77b7;
	position: absolute;
	width: 380px;
	height: 48px;
	right: 35px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
/* .apply_check_BTN:hover {
	transform: scale(1.05);
} */
#band_apply_check_BTN {
	z-index: 2;
}
#general_apply_check_BTN {
	z-index: 1;
}
.apply_link {
	font-size: 30px;
	font-weight: bold;
}
/* main ********************************************************/


/* footer ******************************************************/
.footer {
	position: relative;
	width: 100%;
	height: 180px;
	overflow: visible;
	background-color: rgba(122,119,183,1);
	grid-area: footer;
}
.footer_Content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
#Content_Container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
	width: 240px;
	/* height: 55%;
	min-height: 90px; */
	overflow: visible;
	font-size: 1.5rem;
}
#Content {
	font-size: 0.625em;
	width: 100%;
	line-height: 24px;
	color: rgba(255,255,255,1);
}
.Content_Title {
	width: 100%;
	font-weight: bold;
	color: rgba(255,255,255,1);
	margin-bottom: 0.652em;
}
.SNS_logo {
	position: relative;
	width: 145px;
	height: 20px;
	overflow: visible;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.instagram_logo {
	position: relative;
	width: 20px;
	height: 20px;
	overflow: visible;
}
.youtube_logo {
	position: relative;
	width: 27.67px;
	height: 20px;
	overflow: visible;
}
.facebook_logo {
	position: relative;
	width: 20px;
	height: 20px;
	overflow: visible;
}
/* footer ******************************************************/
@media (max-width : 1400px) {
	.header {
		width: 100%
	}
	.header_BTN {
		width: 70%;
	}
}


@media (max-width : 1000px) {
	.header_BTN {
		width: 100%;
	}
	.PLAN_B_Class {
		display: none;
	}
}
@media (max-width : 760px) {
	.for_scrolling {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
			"bottom";
	}
	.bottom_half {
		grid-template-rows: 40px calc(100vh - 40px) 250px;
	}
	.header {
		width: 100vw;
		height: 40px;
	}
	.header_BG_rect {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.header_Words {
		padding: 0px;
		font-size: 1.2rem;
	}
	.header_BTN {
		justify-content: space-evenly;
	}
	.PLAN_B_Class {
		display: none;
	}
	#Content_Container {
		width: 70%;
		height: 70px;
		font-size: 1.2rem;
	}
	.footer {
		height: 250px;
	}
	.footer_Content {
		flex-direction: column;
	}
	.SNS_logo {
		width: 70%;
	}


	
}
@media (min-width : 1080px) {
	.board {
		height: calc(1010px * 0.85);
	}
}

@media (max-height : 1020px) and (min-width : 1300px) {
	.main {
		height: 950px;
	}
}

@media (max-width : 1300px) {
	.bottom_half {
		grid-template-rows: 70px 1400px 250px;
	}

	.main {
		height: 1400px;
	}
	.board {
		height: 1353.75px;
		width: 93.75vw;
	}
	.member_BTN {
		cursor: pointer;
		width: 218.13px;
		height: 50.63px;
		font-size: 20px;
		border-radius: 10px;
	}
	#band_member {
		left: 50%;
		transform: translate(-100%,0%);
	}
	#general_member {
		left: 50%;
		right: unset;
	}
	.explain {
		height: 1252.5px;
	}
	.content_BTN {
		cursor: pointer;
		width: 151.88px;
		height: 50.63px;
		font-size: 20px;
		border-radius: 10px;
	}
	#band_feature_BTN {
		left: 50%;
		transform: translate(-150%,0%);
	}
	#band_duty_BTN {
		left: 50%;
		transform: translate(-50%,0%);
	}
	#band_right_BTN {
		left: 50%;
		right: unset;
		transform: translate(50%,0%);
	}
	#general_feature_BTN {
		left: 50%;
		transform: translate(-150%,0%);
	}
	#general_duty_BTN {
		left: 50%;
		transform: translate(-50%,0%);
	}
	#general_right_BTN {
		left: 50%;
		right: unset;
		transform: translate(50%,0%);
	}
	.apply_check_BTN {
		width: 455.64px;
		height: 50.63px;
		font-size: 20px;
		top: 50.63px;
		left: 50%;
		transform: translate(-50%,0%);
	}
	.sect_container {
		height: 1151.25px;
		border-radius: 10px;
	}
	.sect {
		width: 90%; 
		line-height: 30px;
	}
	.band_sect_title {
		font-size: 20px;
	}
	.general_sect_title {
		font-size: 20px;
	}
	.description {
		font-size: 15px;
	}
}


@media (max-width : 540px) {
	.bottom_half {
		grid-template-rows: 40px 310vw 250px;
	}

	.main {
		height: 310vw;
	}
	.board {
		height: 306.25vw;
		width: 93.75vw;
	}
	.member_BTN {
		cursor: pointer;
		width: calc(93.75vw / 2 - 35px);
		height: 9.375vw;
		font-size: 4.68vw;
		border-radius: 10px;
	}
	#band_member {
		left: 35px;
		transform: unset;
	}
	#general_member {
		right: 35px;
		left: unset;
		transform: unset;
	}
	.explain {
		height: 287.5vw;
	}
	.content_BTN {
		cursor: pointer;
		width: calc(100% * 3 / 10);
		height: 9.375vw;
		font-size: 4.68vw;
		border-radius: 10px;
	}
	#band_feature_BTN {
		left: 35px;
		right: unset;
		transform: unset;
	}
	#band_duty_BTN {
		left: calc(100% * 7 / 20);
		right: unset;
		transform: unset;
	}
	#band_right_BTN {
		right: 35px;
		left: unset;
		transform: unset;
	}
	#general_feature_BTN {
		left: 35px;
		right: unset;
		transform: unset;
	}
	#general_duty_BTN {
		left: calc(100% * 7 / 20);
		right: unset;
		transform: unset;
	}
	#general_right_BTN {
		right: 35px;
		left: unset;
		transform: unset;
	}
	.apply_check_BTN {
		width: calc(100% - 70px);
		height: 9.375vw;
		font-size: 4.68vw;
		top: 9.375vw;
	}
	.sect_container {
		height: calc(100% * 86 / 92);
		border-radius: 10px;
		overflow-y: scroll;
	}
	.sect {
		width: 84.375vw; 
		line-height: 7.8125vw;
	}
	.band_sect_title {
		font-size: 4.68vw;
	}
	.general_sect_title {
		font-size: 4.68vw;
	}
	.description {
		font-size: 3.75vw;
	}
}