@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.mediaViewInfo {
	--web-view-name: aboutus;
	--web-view-id: aboutus;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: aboutus;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Jeju Gothic', sans-serif;
}
body {
	background-color: rgba(235,232,231,1);
	-ms-overflow-style: none;
	height: 100%;
}
::-webkit-scrollbar {
	display: none;
}
.for_scrolling {
	height: 100vh;
	overflow-x: scroll;
	overflow-y: scroll;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		/* "." */
		"bottom";
	justify-items: center;
	align-items: center;
	--web-view-name: Plan B Home;
	--web-view-id: n__3;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}

/* main_BG ******************************************************/

.main_BG_IMG {
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%,-50%) ;
	overflow: visible;
}
/* main_BG ******************************************************/



.bottom_half {
	width: 100%;
	height: 100vh;
	grid-area: bottom;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 70px 1fr 180px;
	grid-template-areas: 
	"header"
	"main"
	"footer";
	justify-items: center;
	align-items: center;
}


/* header ******************************************************/
.header {
	position: relative;
	width: 70%;
	height: 70px;
	overflow: visible;
	z-index: 99;
	grid-area: header;
}
.header_BG_rect {
	background-color: rgba(122,119,185,1);
	position: absolute;
	width: 100%;
	height: 100%;
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: 35px;
}
.header_Words {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	overflow: visible;
	padding: 0px 60px 0px 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header_BTN {
	position: relative;
	width: 700px;
	height: 17px;
	/* left: 758px; */
	/* top: 27px; */
	overflow: visible;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#header_Words {
	position: relative;
	overflow: visible;
	text-align: center;
	font-size: 0.625em;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	height: 17px;
    transition: all 0.5s;
}
#header_Words:hover {
    transform: scale(1.15);
}
.PLAN_B_Class {
	/* left: 60px; */
	/* top: 21px; */
	position: relative;
	text-align: left;
	font-weight: bold;
	color: rgba(255,255,255,1);
}
/* header ******************************************************/


/* aboutus ******************************************************/
.aboutus {
	width: 100vw;
	height: 1534px;
    grid-area: main;
	position: relative;
	overflow-y: visible;
	overflow-x: visible;
	--web-view-name: aboutus;
	--web-view-id: aboutus;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
.aboutus_center_align {
	position: absolute;
	width: 1322px;
	height: 100%;
	left: 50%;
	transform: translate(-50%,0%) ; 
	overflow: visible;
}

#aboutus_title {
	margin: 54px;
	position: absolute;
	top: 0px;
	overflow: visible;
	width: fit-content;
	height: min-content;
	line-height: 40px;
	text-align: left;
	font-weight: bold;
	font-size: 30px;
}
#aboutus_content {
	top: 191px;
	margin: 54px;
	width: fit-content;
	height: min-content;
	position: absolute;
	overflow: visible;
	line-height: 40px;
	margin-top: 0px;
	text-align: left;
	font-size: 23px;
}


/* aboutus_1 *****************************************/
.aboutus_1 {
	position: absolute;
	overflow: visible;
	background-color: white;
	filter: drop-shadow(0px 9px 6px rgba(0, 0, 0, 0.161));
	width: 846px;
	height: 846px;
	border-radius: 35px;
	left: 0px;
	top: 0px;
}
.aboutus_1_IMG img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 35px;
	transition: all 0.7s ease-in-out;
}
.aboutus_1_IMG {
	position: absolute;
	background-color: white;
	width: 634px;
	height: 356px;
	border-radius: 35px;
	left: 0px;
	bottom: 0px;
}
.aboutus_1_title {
	color: rgba(254,199,98,1);
}
.aboutus_1_content {
	color: rgba(0,0,0,1);
}
/* aboutus_1 *****************************************/

/* aboutus_2 *****************************************/
.aboutus_2 {
	position: absolute;
	overflow: visible;
	background-color: white;
	filter: drop-shadow(0px 9px 6px rgba(0, 0, 0, 0.161));
	width: 422px;
	height: 846px;
	border-radius: 35px;
	right: 0px;
	top: 0px;
}
.aboutus_2_title {
	color: rgba(234,113,134,1);
}
.aboutus_2_content {
	color: rgba(0,0,0,1);
}
/* aboutus_2 *****************************************/

/* aboutus_3 *****************************************/
.aboutus_3 {
	position: absolute;
	overflow: visible;
	background-color: white;
	filter: drop-shadow(0px 9px 6px rgba(0, 0, 0, 0.161));
	width: 634px;
	height: 634px;
	border-radius: 35px;
	left: 0px;
	bottom: 0px;
}
.aboutus_3_title {
	color: rgba(189,157,234,1);
}
.aboutus_3_content {
	color: rgba(0,0,0,1);
}
/* aboutus_3 *****************************************/

/* aboutus_4 *****************************************/
.aboutus_4{
	position: absolute;
	overflow: visible;
	background-color: rgba(180,136,136,1);
	filter: drop-shadow(0px 9px 6px rgba(0, 0, 0, 0.161));
	width: 634px;
	height: 634px;
	border-radius: 35px;
	right: 0px;
	bottom: 0px;
}
.aboutus_4_IMG img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 35px;
	transition: all 0.7s ease-in-out;
}
.aboutus_4_IMG {
	position: absolute;
	background-color: rgba(180,136,136,1);
	width: 634px;
	height: 634px;
	border-radius: 35px;
	left: 0px;
	top: 0px;
}
.aboutus_4_title {
	color: rgb(255, 255, 255);
}
.aboutus_4_content {
	color: rgba(255,255,255,1);
}
/* aboutus_4 *****************************************/



/* footer ******************************************************/
.footer {
	position: relative;
	width: 100%;
	height: 180px;
	overflow: visible;
	background-color: rgba(122,119,183,1);
	grid-area: footer;
}
.footer_Content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
#Content_Container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
	width: 240px;
	/* height: 55%;
	min-height: 90px; */
	overflow: visible;
	font-size: 1.5rem;
}
#Content {
	font-size: 0.625em;
	width: 100%;
	line-height: 24px;
	color: rgba(255,255,255,1);
}
.Content_Title {
	width: 100%;
	font-weight: bold;
	color: rgba(255,255,255,1);
	margin-bottom: 0.652em;
}
.SNS_logo {
	position: relative;
	width: 145px;
	height: 20px;
	overflow: visible;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.instagram_logo {
	position: relative;
	width: 20px;
	height: 20px;
	overflow: visible;
}
.youtube_logo {
	position: relative;
	width: 27.67px;
	height: 20px;
	overflow: visible;
}
.facebook_logo {
	position: relative;
	width: 20px;
	height: 20px;
	overflow: visible;
}
/* footer ******************************************************/

@media (max-height : 1900px) and (min-width : 1400px) {
	/* .bottom_half {
		grid-template-rows: 70px 1650px 180px;
		align-items: unset;
	} */
	.aboutus {
		height: 1650px;
	}
	.aboutus_center_align {
		height: 1522px;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}



@media (max-width : 1400px) {
	.header {
		width: 100%;
	}
	.header_BTN {
		width: 70%;
	}
	.aboutus {
		height: 2755px;
	}
	.aboutus_center_align {
		width: 846px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	.aboutus_1 {
		position: relative;
		left: unset;
		top: unset;
	}
	.aboutus_2 {
		position: relative;
		right: unset;
		top: unset;
		width: 846px;
		height: 479px;
	}
	.aboutus_3 {
		position: relative;
		left: unset;
		top: unset;
	}
	.aboutus_4 {
		position: relative;
		left: unset;
		top: unset;
	}
}

@media (max-width : 850px) {
	.aboutus {
		height: 2713px;
	}
	.aboutus_center_align {
		width: 846px;
	}
	.aboutus_1 {
		width: 634px;
		height: 634px;
		overflow-y: scroll;
	}
	.aboutus_1_IMG {
		top: 97%;
	}
	.aboutus_2 {
		width: 634px;
		height: 634px;
	}
}

@media (max-width : 650px) {
	.aboutus {
		height: 417vw;
	}
	.aboutus_center_align {
		width: 90vw;
	}
	#aboutus_title {
		margin: 10vw;
		line-height: 33px;
		font-size: 23px;
	}
	#aboutus_content {
		top: 24vw;
		margin: 10vw;
		line-height: 8vw;
		font-size: 15px;
	}
	.aboutus_1 {
		width: 90vw;
		height: 90vw;
		border-radius: 5vw;
	}
	.aboutus_1_IMG img {
		/* width: 90vw;
		height: 55vw; */
		border-radius: 5vw;
	}
	.aboutus_1_IMG {
		width: 90vw;
		height: 55vw;
		top: 135vw;
		border-radius: 5vw;
	}
	.aboutus_2 {
		width: 90vw;
		height: 90vw;
		border-radius: 5vw;
		overflow-y: scroll;
	}
	.aboutus_3 {
		width: 90vw;
		height: 90vw;
		border-radius: 5vw;
		overflow-y: scroll;
	}
	.aboutus_4 {
		width: 90vw;
		height: 90vw;
		border-radius: 5vw;
		overflow-y: scroll;
	}
	.aboutus_4_IMG img {
		/* width: 90vw;
		height: 120vw; */
		border-radius: 5vw;
	}
	.aboutus_4_IMG {
		width: 90vw;
		height: 120vw;
		border-radius: 5vw;
	}
}






@media (max-width : 1000px) {
	.header_BTN {
		width: 100%;
	}
	.PLAN_B_Class {
		display: none;
	}
}
@media (max-width : 760px) {
	.for_scrolling {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
			"bottom";
	}
	.bottom_half {
		grid-template-rows: 40px  1fr 250px;
	}
	.header {
		width: 100vw;
		height: 40px;
	}
	.header_BG_rect {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.header_Words {
		padding: 0px;
		font-size: 1.2rem;
	}
	.header_BTN {
		justify-content: space-evenly;
	}
	.PLAN_B_Class {
		display: none;
	}
	#Content_Container {
		width: 70%;
		height: 70px;
		font-size: 1.2rem;
	}
	.footer {
		height: 250px;
	}
	.footer_Content {
		flex-direction: column;
	}
	.SNS_logo {
		width: 70%;
	}
}